@use "./_variables.scss" as *;

.about {
  position: relative;
  margin-top: 4rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      text-align: center;
      gap: 3rem;
    }
  }

  &__text {
    flex: 2;

    p {
      font-size: 1.125rem;
      font-weight: 200;
      line-height: 1.7;
      margin-bottom: 1.5rem;
      text-align: justify;
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &__highlight {
    color: $color-accent-yellow;
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
  }

  &__media-arrow {
    width: 4.375rem;
    margin: 0 auto;
  }

  &__media-node {
    position: absolute;
    width: 5.625rem;
    right: -40%;

    @media (max-width: $breakpoint-md) {
      top: 3.75rem;
      right: 7%;
      width: 2.813rem;
    }
  }
}
