@use "./_variables.scss" as *;

.cta {
  position: relative;
  padding-top: 0.3rem;

  &__container {
    margin: 0 auto;
    position: relative;
  }

  &__text {
    margin-bottom: 4rem;
    position: relative;
  }

  &__heading {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__highlight {
    color: $color-accent-yellow;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 20rem;
    width: 4.375rem;

    @media (max-width: $breakpoint-md) {
      position: static;
      display: block;
      margin: 1rem auto 0;
    }
  }

  &__image {
    position: relative;
    width: 62.5rem;
    height: 38.438rem;

    @media (max-width: $breakpoint-lg) {
      width: 40.625rem;
    }

    @media (max-width: $breakpoint-md) {
      width: 28.125rem;
      height: auto;
      margin-bottom: 1rem;
    }

    @media (max-width: $breakpoint-sm) {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .cta__cluster-image {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__icon {
    position: absolute;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border: 0.125rem solid currentColor;
    border-radius: 50%;
    background: transparent;
  }

  &__center-arrow {
    position: absolute;
    top: 52%;
    left: calc(50% + 70px);
    width: 2.5rem;
  }

  &__node {
    position: absolute;
    top: -7rem;
    right: -8rem;
  }
}
