@use "./_variables.scss" as *;

.process {
  position: relative;
  margin-top: 5rem;

  &__timeline {
    max-width: 84rem;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  &__dots {
    position: absolute;
    left: 0;
    top: 150.938rem;
    width: 4.688rem;
  }

  @media (max-width: $breakpoint-lg) {
    padding: 5rem 2rem;

    &__timeline {
      max-width: 100%;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 4rem 1.5rem;

    &__timeline {
      max-width: 90%;
    }

    &__dots {
      width: 2.813rem;
      left: -8%;
    }
  }

  @media (max-width: $breakpoint-sm) {
    padding: 3rem 1rem;

    &__timeline {
      max-width: 100%;
    }

    &__dots {
      display: none;
    }
  }
}
