$color-primary: #361281;
$color-accent-yellow: #d5ff2f;

$color-light-gray: #f9f9f9;
$color-medium-gray: #ddd;

$color-purple-muted: #6f61a3;

$color-black: #000000;
$color-white: #ffffff;

$breakpoint-xl: 1200px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
